# Virtual Environment & OS garbage
venv/
.DS_Store
__pycache__/

# Folders to ignore
pdf_generator/
presentation_doc/
scale up/
simulation/
Team22 - Weekly Meeting/
Team22_urbanglowgrid_bom_fapiao/
arduino/urban_glow_grid_mega_final copie/

# Root files to ignore (keeps only README.md)
/*.html
/*.pdf
/*.py
/🎙Script desk pitch.pdf
